*{
    margin: 0;
    padding: 0;
    font-family: NotoSansRegular;
    box-sizing: border-box;
}

body{
    background: #f1f1f1;
}

input:focus{
    outline: none;
}


.header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.chat-header{
    justify-content: flex-start;
    background: #009688;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    color: #fff;
}

.user{
    display: flex;
    align-self: flex-start;
    align-self: center;
    padding-left: 20px;
}

.header-title{
    font-family: NotoSansBold;
    font-size: 20px;
    text-transform: uppercase;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}

.login-wrapper form{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper input{
    margin-bottom: 10px;
}

#chat-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-data{
    display: flex;
    flex-direction: column;

    /*min-height: 400px;*/
    height: calc(100vh - 130px);
    max-width: 500px;
    width: 100%;
    margin-top: 10px;

    overflow: scroll;
    overflow-x: hidden;
}

.message{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 75px;

    padding: 5px 10px;
    border-bottom: 1px solid #c3c3c3;

}

.message-self{
    text-align: right;
    margin-left: auto;
}

.message-other{
    text-align: left;
}

.message-user{
    font-family: NotoSansBold;
}

.message-time{
    font-size: 12px;
    color: #b8b8b8;
}

.input-form{
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    max-width: 500px;
    width: 100%;
}

#message-input{
    width: 100%;
    height: 40px;
    padding-left: 5px;

    border: 1px solid #009688;
    border-right: none;
    background: #f1f1f1;
}


.submit-button{
    display: flex;
    align-self: center;
    justify-content: center;

    padding: 5px 15px;
    height: 40px;

    background: transparent;
    border: 1px solid #009688;
    background: #009688;
    color: #fff;
    font-family: NotoSansBold;

    cursor: pointer;
    /*max-width: 200px;
    width: 100%;*/
}


/*
    SCROLLBAR STYLE
*/

::-webkit-scrollbar {
    width: 8px;
}

/* Amiben megy a scrollbar */
::-webkit-scrollbar-track {
    background: #e2e2e2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #a6a6a6;
}


/*
    FONTS
*/

@font-face {
    font-family: NotoSansRegular;
    src: url("fonts/NotoSansUI-Regular.ttf");
}

@font-face {
    font-family: NotoSansBold;
    src: url("fonts/NotoSansUI-Bold.ttf");
}